<h1>Diagnosen</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Krankheit</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @diagnoses.each do |diagnosis_data| %>
      <tr>
        <td><%= diagnosis_data.illness %></td>
        <td><%= link_to 'All Cases', cases_diagnosis_path(diagnosis_data) %></td>
    <% end %>

      </tr>
  </tbody>
</table>
