<link rel="stylesheet" type="text/css" href="../assets/navbar.css" media="screen" />

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" style="background-color: transparent !important;">InfectData</a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
    </ul>
  </div>
</nav>
